@tailwind base;
@tailwind components;
@tailwind utilities;

.errorList {
  list-style-type: none;
  padding: 0;
  display: flex;;
}

kbd {
  border: 2px solid black; 
  box-shadow: 2px 2px black; 
  font-size: .85em; 
  line-height: .85em; 
  display: inline-block;
  font-weight: 600;
  letter-spacing: .05em; 
  padding: 3px 5px;
  white-space: nowrap;
}


